<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AjaxMin" version="5.14.5506.26202" targetFramework="net461" />
  <package id="Crc32C.NET" version="1.0.5.0" targetFramework="net461" />
  <package id="DnsClient" version="1.2.0" targetFramework="net461" />
  <package id="EntityFramework" version="6.3.0" targetFramework="net461" />
  <package id="GMap.NET.Windows" version="1.9.5" targetFramework="net461" />
  <package id="MongoDB.Bson" version="2.7.2" targetFramework="net461" />
  <package id="MongoDB.Driver" version="2.7.2" targetFramework="net461" />
  <package id="MongoDB.Driver.Core" version="2.7.2" targetFramework="net461" />
  <package id="MongoDB.Driver.GridFS" version="2.7.2" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net461" />
  <package id="SegmentedTabControl.FormsPlugin" version="1.0.0" targetFramework="net461" />
  <package id="SharpCompress" version="0.23.0" targetFramework="net461" />
  <package id="Snappy.NET" version="1.1.1.8" targetFramework="net461" />
  <package id="System.Buffers" version="4.4.0" targetFramework="net461" />
  <package id="System.Data.SQLite" version="1.0.112.0" targetFramework="net461" />
  <package id="System.Data.SQLite.Core" version="1.0.112.0" targetFramework="net461" />
  <package id="System.Data.SQLite.EF6" version="1.0.112.0" targetFramework="net461" />
  <package id="System.Data.SQLite.Linq" version="1.0.112.0" targetFramework="net461" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.3.0" targetFramework="net461" />
  <package id="Xamarin.Forms" version="2.3.4.247" targetFramework="net461" />
</packages>